<nb-layout>
  <nb-layout-column>

      <div class="container">

        <div class="row justify-content-center">

          <div class="col-xl-10 col-lg-10 col-md-9">

            <nb-card class="o-hidden border-0 shadow-lg my-5">

              <nb-card-body class="p-0">

                <div class="row">

                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-none d-lg-block bg-update-password-image"></div>

                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="p-5">

                      <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Update your password!</h1>
                      </div>

                      <!-- Display error message -->
                      <nb-alert *ngIf="errorMessage" status="danger">
                        {{errorMessage}}
                      </nb-alert>

                      <!-- Build sign up form -->
                      <form [formGroup]="authForm" (ngSubmit)="updatePassword(authForm.value)" #formDir="ngForm" class="mt-5">

                        <!-- Password -->
                        <div class="form-control-group mt-4">
                          <label class="label" for="password">Password </label>
                          <input nbInput id="password" formControlName="password" fieldSize="medium" fullWidth status="primary"
                           placeholder="Password" type="password">
                          <div class="caption status-danger"  *ngIf="authForm.hasError('required', ['password']) && formDir.submitted">
                            Password is required
                          </div>
                        </div>

                        <!-- Password confirmation -->
                        <div class="form-control-group mt-4">
                          <label class="label" for="password">Password confirmation </label>
                          <input nbInput id="passwordConfirmation" formControlName="passwordConfirmation" fieldSize="medium" fullWidth status="primary"
                           placeholder="Password confirmation" type="password">
                          <div class="caption status-danger"  *ngIf="authForm.hasError('required', ['passwordConfirmation']) && formDir.submitted">
                            Password confirmation is required
                          </div>
                        </div>

                        <div class="form-control-group mt-4">
                          <button [nbSpinner]="loading" nbButton  status="primary" size="large" fullWidth>Sign in</button>
                        </div>

                        <div class="another-action mt-5">
                          <a routerLink="/auth/sign-in">Sign in</a>
                        </div>

                      </form>
                    </div>
                  </div>

                </div>

              </nb-card-body>

            </nb-card>
          </div>

        </div>

      </div>

  </nb-layout-column>
</nb-layout>

