<nb-layout>
  <nb-layout-column>

      <div class="container">

        <div class="row justify-content-center">

          <div class="col-xl-10 col-lg-10 col-md-9">

            <nb-card class="o-hidden border-0 shadow-lg my-5">

              <nb-card-body class="p-0">

                <div class="row">

                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-none d-lg-block bg-password-image"></div>

                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="p-5">

                      <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Request for password update!</h1>
                      </div>

                      <!-- Display error message -->
                      <nb-alert *ngIf="errorMessage" status="danger">
                        {{errorMessage}}
                      </nb-alert>

                       <!-- Display success message -->
                       <nb-alert *ngIf="successMessage" status="success">
                        {{successMessage}}
                      </nb-alert>

                      <!-- Build sign up form -->
                      <form [formGroup]="authForm" (ngSubmit)="requestPassword(authForm.value)" #formDir="ngForm" class="mt-5">

                        <!-- Email -->
                        <div class="form-control-group mt-4">
                          <label class="label" for="email">Email </label>
                          <input nbInput id="email" formControlName="email" fieldSize="medium" fullWidth status="primary"
                           placeholder="Email" type="email">
                          <div class="caption status-danger"  *ngIf="authForm.hasError('required', ['email']) && formDir.submitted">
                            Email is required
                          </div>
                        </div>

                        <div class="form-control-group mt-4">
                          <button [nbSpinner]="loading" nbButton  status="primary" size="medium" fullWidth>Submit</button>
                        </div>

                        <div class="another-action mt-5">
                          <a routerLink="/auth/sign-in">Sign in</a>
                        </div>

                      </form>
                    </div>
                  </div>

                </div>

              </nb-card-body>

            </nb-card>
          </div>

        </div>

      </div>

  </nb-layout-column>
</nb-layout>

